* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.stepper-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
    width: 350px;
    max-width: 100%;
}

/* 💡 the line behind the progress bar is a blank content string*/
.stepper-container::before {
    content: '';
    background-color: #e7eaf6;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 3px;
    width: 100%;
    z-index: -1;
}

/* the progress line: is the div behind the numbers */
.stepper {
    background-color: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    position: absolute;
    top: 50%;
    left: 0;
    height: 3px;
    width: 0%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.5s ease;
}

/* circle */

.circle {
    background-color: #fff;
    color: #1632a3;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(57, 129, 117);
    transition: 0.5s ease;
}

/* if there is any active class */
.circle.active {
    border-color: rgb(185, 49, 31);
}

.btn {
    background-color: #1632a3;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    border: 0;
    padding: 8px 30px;
    margin: 5;
    font-size: 12px;
}

.btn:active {
    transform: scale(0.99);
}
.btn:focus {
    outline: yellow;
}
.btn:disabled {
    background-color: gray;
    cursor: not-allowed;
}
